.projects {
  padding: 2rem 2rem;
  color: var(--foreground);
  max-width: 1200px;
  margin: 0 auto;

}

.title {
  font-size: 1.8rem;
 font-family: 'Geist';
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  text-transform: capitalize;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  justify-items: center;
  align-items: stretch;
}



/* On medium and smaller screens, center the cards */
@media (max-width: 768px) {
  .cardContainer {
    justify-content: center;
  }

  .title {
    text-align: center;
  }
}
