.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-background);
  color: var(--navbar-foreground);

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid var(--navbar-border); 
  
  width: 100%;
  z-index: 10;
  top: 0;
}


  .navItems{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    width: 100%;
  }
  
  .name {
    font-weight: bold;
    font-size: 1.125rem;
  }
  
  .navList {
    display: flex;
    gap: 4rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navItem a {
    text-decoration: none;
    color: var(--navbar-link);
    transition: color 0.2s ease;
  }
  
  .navItem a:hover {
    color: var(--navbar-link-hover);
  }
  .navItem a {
    position: relative;
    padding-bottom: 4px;
  }
  
  .navItem a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: linear-gradient(to right, #5ddcff, #3c67e3, #4e00c2);
    transition: width 0.4s ease;
  }
  
  .navItem a:hover::after {
    width: 100%;
  }
  
  .navItem a {
    text-decoration: none;
    color: var(--foreground);
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .navItem a:hover {
    color: var(--link-color); /* or a custom bright color */
    transform: scale(1.05);
  }
  