.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: var(--navbar-background);
    color: var(--navbar-foreground);
    
  }
  
  .name {
    font-weight: bold;
    font-size: 1.125rem;
  }
  
  .navList {
    display: flex;
    gap: 4rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navItem a {
    text-decoration: none;
    color: var(--navbar-link);
    transition: color 0.2s ease;
  }
  
  .navItem a:hover {
    color: var(--navbar-link-hover);
  }
  